body {
  padding: 0;
  margin: 0;
  background-color: #24D8FC;
}

.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#board {
  position: absolute;
}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #e0ffe0;
  z-index: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.topBar-content{
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.topBar p {
  margin: 0 10px;
}

.tile {
 margin: 3px;
}

.selected {
  border: solid 2px red;
  margin: 1px;
}

.tileBox {
  display: flex;
  flex-wrap: wrap;
  width: 434px;
}

.dropdown {
  text-align: center;
  position: absolute;
  display: inline-block;
  background-color: #eee;
  border-right: 2px solid #aaa;
  padding: 4px;
  height: 22px;
  width: 90px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 30px;
  left: -2px;
  border: 2px solid #aaa;
  border-top-width: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content span {
  display: block;
  padding: 4px;
  color: #eee;
  background-color: #159;
}

.dropdown-content hr {
  margin: 0;
}

.dropdown-content span:hover {
  background-color: #148;
}

.dropdown:hover {
  background-color: #bbb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.infobox {
  padding: 1px;
}

.score img {
  margin-right: 3px;
}

.modal {
  transition: all 0.4s ease;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #000;
}

.modal-backdrop.in {
  opacity: .5;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 500px) {
  #popup .modal-dialog{
    width: 400px;
    margin: 30px auto;
  }

  #popup-center .modal-dialog {
    width: 400px;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
  }
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 18px;
    text-align: center;
}