body {
  padding: 0;
  margin: 0;
  background-color: #24D8FC;
}

.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#board {
  position: absolute;
}

.topBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 92px;
  width: 100%;
  background-color: #e0ffe0;
  z-index: 6;
  padding: 4px;
}

.topBar p {
  margin: 0 10px;
}

.tile {
 margin: 3px;
}

.selected {
  border: solid 2px red;
  margin: 1px;
}